

<div data-id={{article._id}}>
    <p>{{article.title}}</p>
    <p>{{article.summary}}</p>
    <p>{{article.link}}</p>
    {{#each article.note}}
        <p>{{this.title}}</p>
        <p>{{this.body}}</p>
    {{/each}}
</div>




<form>
    <h2>Create New Note</h2>
    <input id="titleinput" name="title" placeholder="Title">
    <input id="bodyinput" name="body" placeholder="Body">
    <button type="submit" id="saveNote" data-id={{article._id}}>Save Note</button>
</form>


<a href="/articles">
  <p>Back to scrapings</p>
</a>